/* declaracao */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body{
    background-color: #0f172a;
}

main{
    padding: 20px;
    max-width: 640px;
    margin: 0 auto 64px;
}

header{
    margin-top: 64px;
    padding-bottom: 24px;
    border-bottom: 1px solid #334155;
}

header h1{
    font-size: 30px;
    margin-top: 24px;
    color: #f1f5f9;
}

#quiz{
    counter-reset: quiz-item;
}

.quiz-item{
    margin-top: 24px;
    border: 1px solid #475569;
    border-radius: 6px;
    overflow: hidden;
}

.quiz-item h3{
    padding: 16px 20px;
    color: #e2e8f0;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #1e293b;
}

.quiz-item h3:before{
    content: counter(quiz-item);
    counter-increment: quiz-item;
    background-color: #475569;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;
    flex-shrink: 0;
}

.quiz-item dl{
    padding: 20px 24px;
    display: grid;
    gap: 8px;
}

.quiz-item dl dt{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #e2e8f0;
}

input{
    all: unset;
    border: 1px solid #94a3b8;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

input:checked{
    border: 1px solid #81c415;
}

input:checked:before{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background-color: #81c415;
    border-radius: 50%;
}

#acertos {
    text-align: center;
    background-color: #81c415;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    padding: 5px;
}

/* Estilo para o bot찾o */
button {
    background-color: #81c415;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; 
    margin-right: 15px;/* Dist창ncia entre os bot천es */
    transition: background-color 0.3s ease;
}

/* Estilo para o bot찾o quando hover (passar o mouse por cima) */
button:hover {
    background-color: #475569;
}

/* so pra ver como tudo pertence a uma caixa
*{
    border: 1px solid red;
}
*/
